<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591457491665-vv3i35vtb9ubqmjhb5omkdtghq2mfcdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591457491665-vv3i35vtb9ubqmjhb5omkdtghq2mfcdb</string>
	<key>API_KEY</key>
	<string>AIzaSyBu83IhD9RQbJxaQtC20fosJbPbvCRgvq4</string>
	<key>GCM_SENDER_ID</key>
	<string>591457491665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baturamobile.jokin-poketest</string>
	<key>PROJECT_ID</key>
	<string>poke-test-cda39</string>
	<key>STORAGE_BUCKET</key>
	<string>poke-test-cda39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591457491665:ios:f19296223af251c14f83f0</string>
</dict>
</plist>